.container
  %h2
    old episodes
  %h4
    = @feed.name
  %h5
    = @feed.provider

  .row
    .col-12
      %hr/
      %iframe{src: "", name: 'episode_player', style: "border:none;", width: "100%", scrolling: 'no'}
      %hr/

  - if @items.present?
    - @items.each do |item|
      = render partial: 'partials/episode', locals: { item: item }

  - else
    .row
      .col-12
        This feed does not have any episodes :/

  .row
    .col
      = render 'partials/page_navigation'
