<section class="section">
    <div class="container">
        <h2 class="title is-2">
            <%= @feed.name %>
        </h2>
        <p class="subtitle">
            by
            <%= @feed.provider %>
        </p>
        <hr/>
        <% if @items.present? %>
            <% @items.each do |item| %>
                <%= render partial: 'partials/episode', locals: { item: item, show_dismiss_button: true } %>
            <% end %>
        <% else %>
            <div class="row">
                <div class="col-12">
                    This feed does not have any episodes :/
                </div>
            </div>
        <% end %>
        <div class="row">
            <div class="col">
                <%= render 'partials/page_navigation' %>
            </div>
        </div>
    </div>
</section>
