<section class="section">
    <div class="container">
        <h1 class="title is-2">
            fetching episodes, please wait🙃
        </h1>
        <img src="https://media1.giphy.com/media/d3FActtVPJ5XExEY/giphy.gif"
    </div>

    <div data-controller="cagri" data-cagri-external-id-value="<%= params[:external_id] %>">
        <p data-target="cagri.output"></p>
    </div>
</section>
