<div class="footer fixed-bottom bg-dark text-center">
    <div class="text-info">
        <h4> <%= episode.title %> </h4>
        by
        <h5 class="text-warning"> <%= episode.feed.name %>
    </div>

    <button class="btn btn-primary" id="fr_btn" type="submit">
        <i class="bi bi-skip-backward"></i>
        15s-
    </button>
    <button class="btn btn-primary" id="ff_btn" type="submit">
        15s+
        <i class="bi bi-skip-forward"></i>
    </button>
    <div data-controller="audio">
        <audio id="player" controls>
            <source src="<%= episode.audio_url %>" type="audio/mp3" />
        </audio>
    </div>
</div>
