<div class="footer fixed-bottom bg-dark text-center" data-turbo-permanent>
    <div class="text-info">
        <h4> <%= try(:episode).try(:title) %> </h4>
    </div>

    <button class="btn btn-primary" id="fr_btn" type="submit">
        <i class="bi bi-skip-backward"></i>
        15s-
    </button>
    <div data-controller="audio">
        <button class="btn btn-primary" id="ff_btn" type="submit">
            15s+
            <i class="bi bi-skip-forward"></i>
        </button>
        <audio id="player" controls data-turbo-permanent="" data-target="player">
            <source src="https://stream.radioparadise.com/aac-64" type="audio/mp3" class="player-source" />
        </audio>
    </div>
</div>
