 <section class="section">
 <footer class="has-text-centered has-background-grey-dark has-text-white is-flex-align-items is-align-content-center" id="awesomePlayer">
     <div id="currentlyPlaying" data-turbo-permanent class="is-family-monospace">
         ~ podcasts.paperboy.digital ~
     </div>
     <div class="container is-align-content-center">
         <div class="columns is-flex is-two-thirds is-centered">
             <div class="column align-right is-centered is-two-thirds">
                 <audio
                     controls
                     id="player"
                     data-turbo-permanent
                     Your browser does not support the
                     <code>audio</code> element.
                 </audio>
             </div>
             <div class="column">
                 <div data-controller="audio" class="buttons">
                     <button class="button is-primary is-small is-family-monospace" type="submit" data-action="click->audio#fastReverse" title="-15 secs fast reverse">
                         <i class="fa-solid fa-backward-fast"></i>
                     </button>
                     <button class="button is-primary is-small" type="submit" data-action="click->audio#fastForward" title="+15 secs fast forward">
                         <i class="fa-solid fa-forward-fast"></i>
                     </button>

                     <a href="#" data-turbo-permanent id="currentlyPlayingEpisodeLink" class="button is-link is-small">
                         <i class="fa-solid fa-circle-info"></i>
                     </a>

                     <%= button_to root_path, class:"button is-warning is-small", method: :put, id: 'bookmarkerButton', data: { action: 'click->audio#handleBookmarking' } do %>
                         <i class="fa-solid fa-bookmark"></i>
                     <% end %>
                 </div>
             </div>
         </div>
 </footer>
 </section>
