<div data-controller="hello" class="footer fixed-bottom">
    <audio id="player" controls>
        <source src="https://stitcher.simplecastaudio.com/1f63112c-076a-4aa7-8021-e8cbcdb2cafe/episodes/857e067f-27c5-47e9-9cb0-91e1a3b9e904/audio/128/default.mp3?aid=rss_feed&awCollectionId=1f63112c-076a-4aa7-8021-e8cbcdb2cafe&awEpisodeId=857e067f-27c5-47e9-9cb0-91e1a3b9e904&feed=azy33G8_" type="audio/mp3" />
    </audio>
</div>
