- if current_user?
  %ul
    %li
      %a{:href => "default.asp"} Home
    %li
      %a{:href => "news.asp"} News
    %li
      %a{:href => "contact.asp"} Contact
    %li
      %a{:href => "about.asp"} About
