.container
  .row.justify-content-center
    .col-9
      %h3 what is this?
      your personal digest for your subscribed podcasts.
      %br
      %br
      %h3 which means?
      it delivers last week's episodes of your subscribed podcasts, to your email and to the "porch"
      %br
      %br
      %h2 what is the porch
      it is where the paperboy throw the new podcasts :) you can listen/download episodes on https://podcasts.paperboy.digital/porch
      %br
      %br
      %h2 can i listen older episodes
      no, because you have to live the moment (or listen the last week in our case)
      %br
      %br
      %h2 what do you mean by last week
      from wednesday-to-wednesday. second wednesday can be today but not tomorrow or day after:D
      %br
      %br
      %h2 is there a limit how many feeds i can subscribe to
      currently no
      %br
      %br
      %h2 will all the episodes be on the newsletter email
      no, only 20 episodes will be there, so it wouldnt be gigantic. but of course all episodes will be available on the porch
      %br
      %br
      %h2 will you add support for listen-it-later list or smt
      i might, but probably i'll put that limit though, because you have the let things go
      %br
      %br
      %h2 will you integrate a not ugly audioplayer
      i might, i might not
      %br
      %br
      %h2 wait what time is the delivery on wednesdays
      around 12:30 UTC
      %br
      %br
