.container
  .row
    .col-12
      %h2
      your personal digest for your subscribed podcasts.
      %br
      %br
      %h2 which means?
      it delivers last week's episodes of your subscribed podcasts, to your email and to the "porch"
      %br
      %br
      %h2 what is the porch
      it is where the paperboy throw the new podcasts :) you can listen/download episodes on 
      = link_to porch_url
      %br
      %br
      %h2 can i listen older episodes
      yes
      %br
      %br
      %h2 what do you mean by last week
      from wednesday-to-wednesday. second wednesday can be today but not tomorrow or day after:D
      %br
      %br
      %h2 is there a limit how many feeds i can subscribe to
      currently no
      %br
      %br
      %h2 will all the episodes be on the newsletter email
      no, only few episodes will be there, so it wouldnt be gigantic.
      %br
      %br
      %h2 can i add episodes to some kind of listen-it-later list
      yeap
      %br
      %br
      %h2 wait what time is the delivery on wednesdays
      around 12:30 UTC
      %br
      %br
