<section class="section">
    <div class="container">
        <h2 class="title is-2">
            about 🚲
        </h2>
        <hr>

        <h2 class="title is-3">
            what's this
        </h2>
        <p class="is-size-4">
            weekly personal podcast digest and podcast comsumption portal.
        </p>
        <br>

        <h2 class="title is-3">
            which means
        </h2>
        <p class="is-size-4">
            it delivers last week's episodes of your subscribed podcasts, to your email and to the "porch"
        </p>
        <br>

        <h2 class="title is-3">
            what is the "porch"
        </h2>
        <p class="is-size-4">
            it is where the paperboy throw the new podcasts🙂
            <br>
            you can listen episodes on
            <%= link_to porch_path %>
        </p>
        <br>

        <h2 class="title is-3">
            what do you mean by last week
        </h2>
        <p class="is-size-4">
            wednesday-to-wednesday week. episodes on the porch can not be older than 2 wednesdays
        </p>
        <br>

        <h2 class="title is-3">
            can porch be updated daily
        </h2>
        <p class="is-size-4">
            yes it can. just go to <%= link_to settings_path %> default mode is weekly.
        </p>
        <br>

        <h2 class="title is-3">
            can i listen older episodes
        </h2>
        <p class="is-size-4">
            yes
        </p>
        <br>

        <h2 class="title is-3">
            tell me more about its cool features
        </h2>
        <p class="is-size-4">
            of course, here some of them
            <br>
            you can
        </p>
        <div class="content">
            <ul>
                <li class="is-size-4">
                    search for feeds or browse categories
                </li>

                <li class="is-size-4">
                    peek feeds and listen some episodes without subscribing to the feed
                </li>

                <li class="is-size-4">
                    bookmark so you can continue from there next time
                </li>

                <li class="is-size-4">
                    archieve episodes
                </li>

                <li class="is-size-4">
                    add them to your listen-it-later list
                </li>

                <li class="is-size-4">
                    search feed's episodes with their title
                </li>

                <li class="is-size-4">
                    browse random episodes of a feed with one click
                </li>
            </ul>
        </div>
        <br>
    </div>
</section>
