%body
  .page-wrap
    %h2 what is this?
    your personal digest for your subscribed podcasts.

    %h2 which means?
    it delivers last week's episodes of your subscribed podcasts, to you every wednesday. but also you can access them on the porch too

    %h2 what is the porch
    it is where the paperboy throw the new podcasts :) you can listen/download episodes on https://podcasts.paperboy.digital/porch

    %h2 can i listen older episodes
    no, because you have to live the moment (or listen the last week in our case)

    %h2 what do you mean by last week
    from wednesday-to-wednesday. second wednesday can be today but not tomorrow or day after:D

    %h2 is there a limit how many feeds i can subscribe to
    currently no, but there is limit for 20 episodes on the newsletter email since i don't want to send gigantic emails. but of course all of them available on the porch

    %h2 will you add support for listen-it-later list or smt
    i might, but probably i'll put that limit though, because you have the let things go

    %h2 will you integrate a not ugly audioplayer
    i might, i might not

    %h2 wait what time is the delivery on wednesdays
    around 12:30 UTC
