.container
  .row.text-align-left.align-items-left
    .col-9
      %audio{:id => "podcastAudio", :controls => "", autoplay: '', :preload => "auto", :src => "#{@episode.audio_url}"}
      %button#fr_btn ⏪
      %button#ff_btn ⏩
      %h2
        = @episode.title + ' / ' +  @episode.feed.name


:javascript
  var aud = document.getElementById("podcastAudio");
  var ff_btn = document.getElementById("ff_btn").addEventListener('click', fastForward)
  var fr_btn = document.getElementById("fr_btn").addEventListener('click', fastReverse)

  function fastForward() {
  aud.currentTime += 15;
  }

  function fastReverse() {
  aud.currentTime -= 15;
  }
