.container
  .row.text-align-left.align-items-left
    .col-9
      %audio{:id => "podcastAudio", :controls => "", autoplay: '', :preload => "auto", :src => "#{@episode.audio_url}"}

      %button.btn.btn-primary{type: "submit", id: "fr_btn"}
        %i.bi.bi-skip-backward
        15s+
      %button.btn.btn-primary{type: "submit", id: "ff_btn"}
        15s-
        %i.bi.bi-skip-forward
      %p
        = @episode.title + ' / ' +  @episode.feed.name


:javascript
  var aud = document.getElementById("podcastAudio");
  var ff_btn = document.getElementById("ff_btn").addEventListener('click', fastForward)
  var fr_btn = document.getElementById("fr_btn").addEventListener('click', fastReverse)

  function fastForward() {
  aud.currentTime += 15;
  }

  function fastReverse() {
  aud.currentTime -= 15;
  }
