.container
  .row.text-align-left.align-items-left
    .col-9
      %audio{:controls => "", autoplay: '', :preload => "auto", :src => "#{@episode.audio_url}"}
      %h2
        = @episode.title + ' / ' +  @episode.feed.name
